{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1>Bienvenue sur notre plateforme</h1>
    <p>Accédez aux produits ou connectez-vous pour plus de fonctionnalités.</p>
{% endblock %}
